<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.post.db.mapper.OrderMapper">
    <select id="findAll" resultType="Order">
        select p_order.id,sender,senderAddress,senderPhone,receiver,receiverPhone,receiverAddress,expressName,name as categoryName,orderTime
        from p_order,yinshe,p_express
        where expressCompany=p_express.e_id AND category=yinshe.id
    </select>

    <!--分页查询所有订单-->
    <select id="findAllByPage" resultType="Order">
        select packId,p_order.id,sender,senderAddress,senderPhone,receiver,receiverPhone,receiverAddress,expressName,name as categoryName,orderTime,s_status as status
        from p_order,yinshe,p_express,p_status
        where expressCompany=p_express.e_id AND category=yinshe.id AND p_order.status=p_status.s_id
        limit #{start},#{rows}
    </select>


    <insert id="save" parameterType="Order" keyProperty="id" useGeneratedKeys="true" >
        insert into p_order(id,packId,sender,senderAddress,senderPhone,receiver,receiverAddress,receiverPhone,expressCompany,category,orderTime)
         values(#{id},#{packId},#{sender},#{senderAddress},#{senderPhone},#{receiver},#{receiverAddress},#{receiverPhone},#{expressCompany},#{category},#{orderTime})
    </insert>


    <delete id="delete" parameterType="String">
        delete from p_order where packId=#{packId}
    </delete>

    <update id="update" parameterType="Order">
        update p_order set sender=#{sender},senderAddress=#{senderAddress},senderPhone=#{senderPhone},
        receiver=#{receiver},receiverAddress=#{receiverAddress},receiverPhone=#{receiverPhone},expressCompany=#{expressCompany},category=#{category}
         where id=#{id}
    </update>

    <!--查询今日揽件量-->
    <select id="orderNum" resultType="Integer">
        select count(*) from p_order where year(p_order.orderTime)=year(now()) and month(p_order.orderTime)=month(now()) and day(p_order.orderTime)=day(now())
    </select>

    <!--分页查询我的订单-->
    <select id="findMyOrder" resultType="Order">
        select packId,sender,senderPhone,senderAddress,receiver,receiverPhone,receiverAddress,expressName,orderTime,yinshe.name as categoryName,s_status as status
        from p_order,p_express,yinshe,p_status
        where senderPhone=#{senderPhone} And p_order.expressCompany=p_express.e_id AND p_order.category=yinshe.id AND p_order.status=p_status.s_id
        limit #{start},#{rows}
    </select>

    <!--查询我的订单数量-->
    <select id="findMyOrderTotals" resultType="Long" parameterType="String">
        select count(*) from p_order where senderPhone=#{senderPhone}
    </select>

    <!--查询待接单数量-->
    <select id="findOrderTotals" resultType="Long" parameterType="String">
        select count(*) from p_order
    </select>

    <!--驿站全部接单-->
    <update id="acceptAll" >
        update p_order set status='102' where  status='101'
    </update>

    <!--驿站接收某订单-->
    <update id="acceptOrder" parameterType="String">
        update p_order set status='102' where packId=#{packId}
    </update>

    <!--驿站或用户取消订单-->
    <update id="cancelOrder" parameterType="String">
        update p_order set status='103' where packId=#{packId}
    </update>



</mapper>