<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.post.db.mapper.POutLogMapper">
    <insert id="save" parameterType="POutLog" keyProperty="id" useGeneratedKeys="true" >
        insert into package_out_log(id,packId,curDate,location,station) values (#{id},#{packId},#{curDate},#{location},#{station})
    </insert>


</mapper>